<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_cry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{332,133}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{332,133}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>hero_cry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,338},{356,145}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{356,145}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>hero_cry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,143}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{370,143}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>hero_cry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{334,133}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{334,133}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>hero_cry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{358,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{358,145}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>hero_cry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{370,143}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{370,143}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>hero_cry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{334,133}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{334,133}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
            <key>hero_cry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{356,145}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{356,145}}</string>
                <key>sourceSize</key>
                <string>{380,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_cry.png</string>
            <key>size</key>
            <string>{509,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b402cd93b828095243d069320fa3e440:141cc87c71457d8a150a551a0d65e141:defce42e60a809ab0827acbcf64d55c8$</string>
            <key>textureFileName</key>
            <string>hero_cry.png</string>
        </dict>
    </dict>
</plist>
