<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{270,274}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{283,1},{270,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,272}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{1,543},{272,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{276,270}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{559,1},{276,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{278,270}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{1,271},{278,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_up_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{280,268}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_up_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{278,270}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{559,279},{278,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_up_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{276,270}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{281,273},{276,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_up_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,272}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{275,545},{272,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_up.png</string>
            <key>size</key>
            <string>{830,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:285cc92ea54ee47e8f0d83ece9413170:6f4d0de69cb0510dc1e8afd0f062ca15:57cfeefa3bcd4038ac2a0ffb1d683d07$</string>
            <key>textureFileName</key>
            <string>hero_fly_up.png</string>
        </dict>
    </dict>
</plist>
