<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{139,146}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>hero_fly_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{141,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{141,146}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>hero_fly_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,145},{141,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,150}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>hero_fly_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{143,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,150}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>hero_fly_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,288},{145,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>hero_fly_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,145},{143,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{143,146}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>hero_fly_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{141,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{141,146}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>hero_fly_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{141,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{141,146}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_down.png</string>
            <key>size</key>
            <string>{447,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6776951658f060be33a11b0d4ce06207:3bc542fb25dd21fa90d8589e9bc91b0b:39afe150abf4a5bc451290b0a335d75a$</string>
            <key>textureFileName</key>
            <string>hero_fly_down.png</string>
        </dict>
    </dict>
</plist>
