<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{270,284}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{277,291},{270,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,284}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,579},{272,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{274,286}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,291},{274,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{276,288}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{278,282}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{279,1},{278,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{276,282}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{549,285},{276,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,282}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{549,569},{274,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,284}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{275,579},{272,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_down.png</string>
            <key>size</key>
            <string>{826,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:393fefee6a3ca2dec3fea766da4fe3ef:05d7b6f19beb114cc46c6aaddf55c71b:39afe150abf4a5bc451290b0a335d75a$</string>
            <key>textureFileName</key>
            <string>hero_fly_down.png</string>
        </dict>
    </dict>
</plist>
