<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,173}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{355,1},{138,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{355,176},{138,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{1,269},{136,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{178,269},{136,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{1,133},{134,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{178,133},{134,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{178,1},{130,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_left.png</string>
            <key>size</key>
            <string>{494,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:383dd5cf575993e3196d07f7b305d967:2a8d4b402ab2f20a769d68ba508ecf3e:bcbe0b73559a382ff11ed1d299b6337f$</string>
            <key>textureFileName</key>
            <string>hero_fly_left.png</string>
        </dict>
    </dict>
</plist>
