<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_eat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{727,1},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{697,333},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{167,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1238,1},{167,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{167,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1407,1},{167,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{169,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{896,1},{169,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{169,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1067,1},{169,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{167,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1576,1},{167,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{167,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{359,333},{167,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{864,333},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1745,1},{165,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{163,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{898,168},{163,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{175,173}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{550,1},{175,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{163,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1067,168},{163,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{161,169}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{727,170},{161,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1574,168},{159,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1202,333},{159,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{157,171}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{186,182},{157,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{155,171}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{550,176},{155,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{155,171}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1735,339},{155,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{157,171}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{184,341},{157,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1373,333},{159,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1574,329},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{369,1},{179,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{161,169}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1031,333},{161,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{163,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1236,168},{163,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{163,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1405,168},{163,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{181,179}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1,188},{181,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{181,179}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{186,1},{181,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{183,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{149,171}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{359,182},{149,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_eat_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{163,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{1745,170},{163,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_eat_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{185,203}</string>
                <key>textureRect</key>
                <string>{{528,333},{165,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_eat.png</string>
            <key>size</key>
            <string>{1911,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3ec8ea16b46a527f0a2e21969476282:c9162bc15fcd697088397a7c9c748a8a:2fb14a9fc58570adc0dde4f99e6cdb3d$</string>
            <key>textureFileName</key>
            <string>hero_eat.png</string>
        </dict>
    </dict>
</plist>
