<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_laugh_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{270,276}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{277,569},{270,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_laugh_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{274,274}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{571,565},{274,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_laugh_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{278,274}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{571,285},{278,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_laugh_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{282,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{291,1},{282,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_laugh_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{288,286}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_laugh_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{278,282}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{291,285},{278,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_laugh_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{274,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{1,289},{274,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_laugh_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{272,278}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{573,1},{272,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_laugh.png</string>
            <key>size</key>
            <string>{846,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6c3a1597a5eac900026be9d12088db9:9373b70553551fcc8ea710f94e6066d6:f0d0652b306ca558f4b9f9bba23cd165$</string>
            <key>textureFileName</key>
            <string>hero_laugh.png</string>
        </dict>
    </dict>
</plist>
