<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_eat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{130,130}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{130,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{128,128}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{130,128}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{130,128}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,134},{130,126}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{130,126}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,132},{130,126}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{130,126}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{130,128}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{130,128}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{130,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,132},{128,128}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,266},{128,128}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,132},{126,130}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{126,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{138,138}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{138,138}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,132},{126,130}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{126,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,262},{124,130}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{124,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,260},{124,130}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{124,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,142},{122,132}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{122,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{122,132}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{122,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,390},{120,132}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{120,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,386},{120,132}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{120,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,386},{122,132}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{122,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,262},{122,132}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{122,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,386},{124,130}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{124,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{140,138}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{140,138}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,260},{124,130}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{124,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,132},{126,130}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{126,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,266},{126,130}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{126,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,138}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{140,138}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{140,138}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{140,138}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,394},{116,132}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{116,132}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,266},{126,130}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{126,130}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>hero_eat_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,260},{128,128}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_eat.png</string>
            <key>size</key>
            <string>{1220,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c408a5630381774f27034591bce2157:f9c49e31ea5f3c33460d2315876a4244:2fb14a9fc58570adc0dde4f99e6cdb3d$</string>
            <key>textureFileName</key>
            <string>hero_eat.png</string>
        </dict>
    </dict>
</plist>
