<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{162,171}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{174,347},{162,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{164,171}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{346,1},{164,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{166,173}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{1,176},{166,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_down_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{168,173}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,171}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{171,1},{168,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_down_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,171}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{176,171},{168,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_down_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,171}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{1,344},{166,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_down_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{164,171}</string>
                <key>spriteSourceSize</key>
                <string>{170,175}</string>
                <key>textureRect</key>
                <string>{{346,174},{164,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_down.png</string>
            <key>size</key>
            <string>{511,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e3c66cb3935ef7e59512c0c00f1950:3fb39ada5a257d2e21ca55a3ecb92c5d:39afe150abf4a5bc451290b0a335d75a$</string>
            <key>textureFileName</key>
            <string>hero_fly_down.png</string>
        </dict>
    </dict>
</plist>
