<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{335,167},{164,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{167,331},{164,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{339,1},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{168,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_up_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{170,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{167,1},{170,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_up_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{168,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,171},{168,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_up_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{167,165},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_up_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{335,333},{164,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_up.png</string>
            <key>size</key>
            <string>{506,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d75e2d54a272b7e24bbb479543b551b9:0c83c6e253386cbf2ef0c38b47dd8c19:57cfeefa3bcd4038ac2a0ffb1d683d07$</string>
            <key>textureFileName</key>
            <string>hero_fly_up.png</string>
        </dict>
    </dict>
</plist>
