<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{116,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,148}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>hero_fly_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{116,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,148}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>hero_fly_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>hero_fly_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{116,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>hero_fly_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{114,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>hero_fly_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{114,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>hero_fly_left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{110,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>hero_fly_left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{110,148}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{110,148}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_left.png</string>
            <key>size</key>
            <string>{120,1212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dde91f6124c63a328dacba3050978ec:1f6a0ea6da644f82adab38fc8ddcd488:bcbe0b73559a382ff11ed1d299b6337f$</string>
            <key>textureFileName</key>
            <string>hero_fly_left.png</string>
        </dict>
    </dict>
</plist>
