<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_laugh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,149},{140,143}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{140,143}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hero_laugh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,294},{142,141}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{142,141}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hero_laugh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{144,141}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{144,141}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hero_laugh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{146,143}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{146,143}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hero_laugh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,147}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,147}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hero_laugh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{144,147}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,147}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hero_laugh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,151},{142,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{142,145}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hero_laugh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{140,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{140,145}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_laugh.png</string>
            <key>size</key>
            <string>{440,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cb48c5fea8ed04a5351695250c746cb:6c07b98e73bd2dbafab290259636d6ca:f0d0652b306ca558f4b9f9bba23cd165$</string>
            <key>textureFileName</key>
            <string>hero_laugh.png</string>
        </dict>
    </dict>
</plist>
