<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{127,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{127,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hero_fly_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hero_fly_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{129,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hero_fly_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{131,125}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{131,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hero_fly_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,129},{131,125}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{131,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hero_fly_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{131,125}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{131,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hero_fly_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{129,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{129,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hero_fly_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_up.png</string>
            <key>size</key>
            <string>{917,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:523068390dbec42a4d419b9ec3b34abf:6302e1f6b74f72cec6360c5372e329c7:57cfeefa3bcd4038ac2a0ffb1d683d07$</string>
            <key>textureFileName</key>
            <string>hero_fly_up.png</string>
        </dict>
    </dict>
</plist>
