<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,230},{227,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{223,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,459},{223,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{223,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,684},{223,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{223,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,909},{223,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{223,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,1134},{223,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{213,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,1359},{213,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_left_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{213,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,1574},{213,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_left.png</string>
            <key>size</key>
            <string>{290,1788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9ea6e5b7d04b4fb5efe9c397b29227:f39a475d8f41999f0d3ec3902a7b79fd:bcbe0b73559a382ff11ed1d299b6337f$</string>
            <key>textureFileName</key>
            <string>hero_fly_left.png</string>
        </dict>
    </dict>
</plist>
