<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero_eat_24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-10}</string>
			<key>spriteSize</key>
			<string>{262,280}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{541,1663},{262,280}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hero_eat_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-17}</string>
			<key>spriteSize</key>
			<string>{276,276}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{611,297},{276,276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-16}</string>
			<key>spriteSize</key>
			<string>{274,274}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{837,585},{274,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-15}</string>
			<key>spriteSize</key>
			<string>{276,274}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1,309},{276,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-15}</string>
			<key>spriteSize</key>
			<string>{276,272}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{551,849},{276,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-14}</string>
			<key>spriteSize</key>
			<string>{278,272}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1,585},{278,272}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hero_eat_14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-14}</string>
			<key>spriteSize</key>
			<string>{280,272}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{309,299},{280,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-13}</string>
			<key>spriteSize</key>
			<string>{278,272}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{557,575},{278,272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-11}</string>
			<key>spriteSize</key>
			<string>{276,274}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{279,573},{276,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-11}</string>
			<key>spriteSize</key>
			<string>{274,274}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{275,849},{274,274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-10}</string>
			<key>spriteSize</key>
			<string>{272,274}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{829,861},{272,274}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hero_eat_19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-9}</string>
			<key>spriteSize</key>
			<string>{270,276}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{551,1123},{270,276}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hero_eat_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-1}</string>
			<key>spriteSize</key>
			<string>{290,288}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{911,295},{290,288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-8}</string>
			<key>spriteSize</key>
			<string>{268,278}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{829,1135},{268,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-9}</string>
			<key>spriteSize</key>
			<string>{266,278}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{547,1395},{266,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hero_eat_22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-9}</string>
			<key>spriteSize</key>
			<string>{264,280}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1,1421},{264,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-10}</string>
			<key>spriteSize</key>
			<string>{262,280}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{541,1663},{262,280}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hero_eat_25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-9}</string>
			<key>spriteSize</key>
			<string>{258,282}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1093,1427},{258,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-10}</string>
			<key>spriteSize</key>
			<string>{256,282}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1099,1143},{256,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-11}</string>
			<key>spriteSize</key>
			<string>{256,282}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{823,1697},{256,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-12}</string>
			<key>spriteSize</key>
			<string>{260,280}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1,1703},{260,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-13}</string>
			<key>spriteSize</key>
			<string>{262,280}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{267,1683},{262,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,8}</string>
			<key>spriteSize</key>
			<string>{296,292}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{911,1},{296,292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-14}</string>
			<key>spriteSize</key>
			<string>{264,280}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{827,1415},{264,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-15}</string>
			<key>spriteSize</key>
			<string>{266,278}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{273,1403},{266,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-17}</string>
			<key>spriteSize</key>
			<string>{270,276}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{275,1125},{270,276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,13}</string>
			<key>spriteSize</key>
			<string>{298,294}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{611,1},{298,294}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,16}</string>
			<key>spriteSize</key>
			<string>{300,296}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{309,1},{300,296}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,4}</string>
			<key>spriteSize</key>
			<string>{306,306}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1,1},{306,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-28}</string>
			<key>spriteSize</key>
			<string>{246,280}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1105,861},{246,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-17}</string>
			<key>spriteSize</key>
			<string>{270,276}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1,1143},{270,276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_eat_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-16}</string>
			<key>spriteSize</key>
			<string>{272,276}</string>
			<key>spriteSourceSize</key>
			<string>{330,340}</string>
			<key>textureRect</key>
			<string>{{1,865},{272,276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hero_eat.png</string>
		<key>size</key>
		<string>{1356,1984}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8837342d8e9b8a25f3a87d7fb4b7cb07:3d35c517951aff1dd078959f77a67038:2fb14a9fc58570adc0dde4f99e6cdb3d$</string>
		<key>textureFileName</key>
		<string>hero_eat.png</string>
	</dict>
</dict>
</plist>
