<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{227,286}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{227,286}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{1,289},{227,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_right_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{225,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{230,1},{225,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_right_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{225,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{230,291},{225,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_right_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{223,290}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{457,1},{223,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_right_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{223,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{749,1},{223,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_right_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{215,288}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{520,226},{215,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_fly_right_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{215,286}</string>
                <key>spriteSourceSize</key>
                <string>{235,290}</string>
                <key>textureRect</key>
                <string>{{737,291},{215,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_right.png</string>
            <key>size</key>
            <string>{1024,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6804fc5d16dadbd36c7141df57b996ab:34dcac1300858cf2ed1d83e171b6d0ef:a6d91170b5bd8c91380dd2c870f137bd$</string>
            <key>textureFileName</key>
            <string>hero_fly_right.png</string>
        </dict>
    </dict>
</plist>
