<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_fly_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{106,134}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
            <key>hero_fly_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{106,134}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
            <key>hero_fly_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{104,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{104,134}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
            <key>hero_fly_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{104,136}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{104,136}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
            <key>hero_fly_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{104,136}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{104,136}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
            <key>hero_fly_right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,138},{104,136}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{104,136}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
            <key>hero_fly_right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,108},{100,134}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{100,134}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
            <key>hero_fly_right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,108},{100,134}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{100,134}}</string>
                <key>sourceSize</key>
                <string>{110,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_fly_right.png</string>
            <key>size</key>
            <string>{492,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffc95861ad3ca9b64a0bd4094a7f8280:b3cf7362a1b3af09ea7a866740638ab8:a6d91170b5bd8c91380dd2c870f137bd$</string>
            <key>textureFileName</key>
            <string>hero_fly_right.png</string>
        </dict>
    </dict>
</plist>
