<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_cry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{366,146}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{366,146}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
            <key>hero_cry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{394,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{394,160}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
            <key>hero_cry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{408,158}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
            <key>hero_cry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{370,146}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{370,146}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
            <key>hero_cry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{398,160}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{398,160}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
            <key>hero_cry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,398},{408,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{408,156}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
            <key>hero_cry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,398},{368,146}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{368,146}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
            <key>hero_cry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{394,160}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{394,160}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_cry.png</string>
            <key>size</key>
            <string>{472,1122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d65d56b0ad1cbd61279cdadb5625374:37df36843744a802b084b4a74867dc96:defce42e60a809ab0827acbcf64d55c8$</string>
            <key>textureFileName</key>
            <string>hero_cry.png</string>
        </dict>
    </dict>
</plist>
